:root{
    --font-family: "Roboto", sans-serif ;
    --color: #434455;
    --background-color: #ffffff;
}
body{
    background-color: var(--background-color);
    color: var(--color);
    font-family: var(--font-family);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul{
    margin: 0;
    padding: 0;
}


/* To all */


.container {
max-width: 428px;
min-width: 320px;
padding: 0 16px;
margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.link{
    text-decoration: none;
    display: block;
}
.list{
    list-style: none;
}


/* Header DIV */
header .container{
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 70px;
}

.head{
    display: block;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.nav-holder{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 120px
}


/* Logo */


.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    height: ;
}
.logo-2{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

/* Nav-List */


.nav-list{
  display: none;
}

.link-s{
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-s:hover,
.linl-s:focus{
  color: #404bbf;
}

.link-p{
  color: #404bbf;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-p::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
}

@media  (min-width: 768px) {
.nav-list{
  display: flex;
  height: 72px;
  align-items: center;
  gap: 40px;
}
}

@media (min-width: 1158px){
  .nav-holder{
    gap: 76px;
  }
}

/* Address List */


.addr-list{
  display: none;
}

.addr-txt{
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.48px;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
  }

  .addr-txt:hover,
  .addr-txt:focus{
    color: #404bbf;
  }

@media  (min-width: 768px) {
  header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
.addr-list{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
}
@media (min-width: 1158px){
  .addr-list{
    flex-direction: row;
    gap: 40px;
  }
  .addr-txt{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
  }
}

/* Section-0ne */

.section-one {
  height: 432px;
  padding: 112px 0;
  margin: 0 auto;
  text-align: center;
  background: #2E2F42;
  color: #FFF;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg_for_mobile1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
.section-one {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg_for_mobile2x.jpg);
}
}

.sec-one-head {
  max-width: 320px;
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  color: #FFF;
  margin: 0 auto 72px;
}
.button-m {
  background: #4D5AE5;
  color: #fff;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttn {
  display: block;
  min-width: 169px;
  margin: 0 auto;
  height: 56px;
  border: none;
  padding: 16px 32px;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-one .button-m {
  border: 1px solid transparent;
}
.button-m:hover,
.button-m:focus {
  background-color: #404bbf;
  opacity: 0.8;
}
@media screen and (min-width: 768px) and (max-width: 1157.98px) {
  .section-one {
      height: 436px;
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg_for_Tablet_1x.png);
  }

  .sec-one-head {
      max-width: 496px;
      font-size: 56px;
      line-height: 1.07;
      margin: 0 auto 36px;
  }
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .section-one {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg_for_Tablet_2x.png);
  }
}
@media screen and (min-width: 1158px) {
  .section-one {
    max-width: 1440px;
    height: 600px;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg_for_desk1x.jpg);
  }

  .sec-one-head {
    max-width: 496px;
      font-size: 56px;
      line-height: 1.07;
    margin: 0 auto 48px;
      
  }
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .section-one {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg_for_desk2x.jpg);
  }
}


/* Second-Section */

.section-two{
  padding: 96px 0;
}

.svsbg{
  display: none;
}

.second-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 72px;
}

.copyr{
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
}

.paragr{
  margin-top: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

@media (min-width: 768px) {
  .second-list{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }

  .copyr{
    text-align: start;
  }

  .list-rest{
    flex-basis: calc((100% - 24px) / 2);
  }
  
  .copyr{
    justify-content: start;
  }
  .section-two{
    padding: 96px 0;
  }
}

@media (min-width: 1158px){
  .section-two{
    padding: 120px 0;
  }
  .svsbg{
    background-color: #F4F4FD;
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
    height: 112px;
    width: 264;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }

  .list-rest{
    flex-basis: calc((100% - 72px) / 4);
  }
  
  .second-list{
    justify-content: start;
    align-items: flex-start;
  }

  .copyr{
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
  }
  
  .paragr{
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
  }
}



/* Third section */

  .sec-con{
      display: none;
  }

  @media (min-width: 1158px) {
    .sec-con{
      display: block;
    }

    .list-secret{
      display: flex;
      flex-direction: row;
      gap: 24px
    }

    .section-three{
      padding-bottom: 120px;
    }
  }


/* Fourth section */

.section-four {
  padding: 96px 0;
  background-color: #F4F4FD;
}

@media (min-width: 1158px) {
.section-four {
      padding: 120px 0;
  }
}

.fourthhead{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.fourth-list{
  display: flex;
  gap: 72px;
  flex-direction: column;
  align-items: center;
}

.fourthlist{
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.imag{
  display: block;
  position: relative;
 }

 .dist{
  padding: 32px 0;
}

.fourthlisthead{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.fourthlistparagr{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0;
}

.fbs{
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  justify-content: center;
  gap: 24px;
}

.fbs-one{
  width: 40px;
  height: 40px;
}

.flit{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f0f0f0;
  width: 100%;    
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.flit:hover,
.flit:focus{
  background-color: #404bbf;
}
.flitvg{
  fill: #f4f4fd;
}
@media (min-width: 1158px) and (max-width: 1175px){
  .section-four .container{
    padding: 0;
  }
}

@media (min-width: 768px){
  .fourth-list{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    row-gap: 64px;
    flex-wrap: wrap;
  }
}

/* Fiveth-section */

.section-five{
  background-color: #FFF;
  padding: 96px 0;
}

.secret{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.lovg{  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  row-gap: 72px;
}

.li-lovg{
  height: 88px;
  flex-basis: calc((100% - 16px) / 2);
  
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.lovgbox{
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:  #8e8f99;
}
.lovgbox:hover,
.lovgbox:focus{
  border-color: #404bbf;
  color: #404bbf;
}

.logsvg{
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li-lovg:hover .logsvg{
  fill: #404bbf;
}
.li-lovg:focus .logsvg{
  fill: #404bbf;
}

@media (min-width: 768px){
  .lovg{
    gap: 24px;
    row-gap: 72px;
  }
  .li-lovg{
    flex-basis: calc((100% - 48px) / 3);
  }
  
}

@media (min-width: 768px) and (max-width: 1157px){
  .section-five .container{
    width: 584px;
  }
}

@media (min-width: 1158px){
  .li-lovg{
    flex-basis: calc((100% - 24px * 5) / 6);
  }
  
}

/* Footer */

.foot{
  background-color: #2e2f42;
  padding: 96px 0;

}

.restart{
  display: flex;
  row-gap: 72px;
  justify-content: center;
  align-items: center;
  flex-direction: column ;
}

.marga{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.swagg{
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.spann{
  color: #f4f4fd;
}

.soc-media-text{
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.supapower{
  line-height: 1.5;
  color: #F4F4FD;
  letter-spacing: 0.02em;
  max-width: 264px
}

.soc-medi-el{
  width: 40px;
  height: 40px;
}

.flitn{
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.flitn:hover,
.flitn:focus{
  background-color: #31d0aa; 
}

.flitvgs{
  fill: #f4f4fd;
}

.form-p{
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.form-in{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.form-lab{
  width: 100%;
}

.form-lab-inp{
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  font-size: 12px;
  padding: 8px 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #fff;
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.form-lab-inp::placeholder{
  color: #ffffff;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-btn{
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover,
.form-btn:focus{
  background-color: #404BBF;
}

.form-svg{
  margin-left: 16px;
}

@media (min-width: 768px){
  .restart{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: start;
    gap: 24px;
    row-gap: 72px;
  }
  .form{
    flex-direction: column;
    align-items: start;
  }
  .form-in{
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .form-lab-inp{
    width: 268px;
  }
  .marga{
    align-items: start;
  }
  .soc-media-text{
    justify-content: start;
  }
}
@media (min-width: 768px) and (max-width: 1157px){
  .restart{
    width: 584px;
  }
}
@media (min-width: 1158px){
 .restart{
  align-items: baseline;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0px;
 }
 .foot{
  padding: 100px 0;
 }
 .soc-media-block{
  margin-right: 80px;
  margin-left: 120px;
 }
  .form{
    flex-wrap: nowrap;
  }
 .marga{

 }
  .form-in{
    flex-direction: row;
    flex-wrap: nowrap;
  }
}



/* Button-Menu */



.button-menu{
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px){
    .button-menu{
        display: none;
    }
}


/* Form-Menu */

.moas{
  max-width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  background: #FCFCFC;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (max-width: 767.98px) {
    .moas {
    width: calc(100% - 36px);
     }
   }

.is-hidden{
  opacity: 0;
  visibility: hidden; 
  pointer-events: none;
}

.modal-butt{
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1); 
  padding: 0; 
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-butt:hover{
  background-color: #404bbf;
  border: none;
}

.modal-butt:focus{
  background-color: #404bbf;
  border: none;
}

.clsv{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-butt:hover .clsv{
  fill: #ffffff;
}

.modal-butt:focus .clsv{
  fill: #ffffff;
}

.clsv{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.p-modal{
  font-weight: 500; 
  font-size: 16px;
  line-height: 1.5; 
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42 ;
  margin-bottom: 16px;
}

.modal-f{
  margin-bottom: 8px;
}

.label-f{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em; 
  color: #8e8f99;
  display: block; 
  margin-bottom: 4px;
}

.input-f{
  position: relative;
}

.input-in[type="text"]:focus + .svg-for{
  fill: #4D5AE5;
}

.input-f{
  position: relative;
}

.input-in:focus{
  border-color: #4D5AE5;
}

.input-in{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4); 
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-for{
  position: absolute;
  left: 16px;
  top: 50%; 
  transform: translateY(-50%); 
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.txt-f{
  margin-bottom: 16px;
}

.text-area-f{
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em; 
  color: rgba(46, 47, 66, 0.4); 
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent; 
  padding: 8px 16px;
  outline: transparent; 
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.text-area-f:focus{
  border-color: #4D5AE5; 
}

.f-agree{
  margin-bottom: 24px; 
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ez-txt{
  width: 16px;
  height: 16px; 
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.form-ag{
  font-family: var(--font-family);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 116.667% */
letter-spacing: 0.48px;
}

.test[type="checkbox"]:checked + .form-ag > .ez-txt{
  border: none;
  background-color:  #404bbf;
  fill: #F4F4FD;
}



.link-form{
  color: #4D5AE5;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
}

.form-butt{
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  background-color: #4D5AE5;
  border: none;
  align-self: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: auto;
}

.form-butt:hover,
.form-butt:focus{
  background-color: #404BBF;
}

.modal-hide{
  position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100vh;
       box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
       background: var(--navyblue-modal, rgba(46, 47, 66, 0.40));
       transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Mobile Menu */

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }
  
  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 80px 35px 40px 40px;
    background-color: #fff;
    z-index: 999;
    display: flex;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
  }
  
  .mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .mobile-menu .link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  .supa-fles{
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .suspect-one{
    color: #404BBF;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    }
    .susp-addr{
      display: flex;
      flex-direction: column ;
      gap: 40px;
  }
  .suspect{
    font-size: 36px;
    font-style: normal;
    color: black;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }
  .info-sus{
    color: #4D5AE5;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.info-sust{
  color: #434455;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}

.soc-medi-list{
  display: flex;
  gap: 16px;
}

.soc-medi-list-sus{
  margin-top: 48px;
  display: flex;
  gap: 56px;
} 
.supa-list{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.soc-medi-el{
  width: 40px;
  height: 40px;
}
.flitn{
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.flitn:hover,
.flitn:focus{
  background-color: #31d0aa; 
}
.flitvgs{
  fill: #f4f4fd;
}

@media (max-width: 427px){
  .info-sus{
    font-size: 24px;
  }
  .soc-medi-list-sus{
    gap: 28px;
  }
}

/* Portfolio Styles */
  .butt{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px ;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
    padding: 12px 24px ;
    border-radius: 4px;
    border: 1px solid #e7e9fc;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.butt:hover,
.button:focus{
  color: #FFFFFF;
  background-color: #404BBF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.super-butt{
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.second-list-p{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0;
  margin: 0 0 120px 0;
  list-style: none;
}

.second-list-item{
    width: calc((100% - 48px) / 3);
}

.sses{
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sses:hover,
.sses:focus{
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.image{
  position: relative;
  overflow: hidden;
}

.image-text{
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%; 
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sses:hover .image-text,
.sses:focus .image-text{
    transform: translateY(0%);
}

.expl{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.lihd{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.lips{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}

.first-list{
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 100px 0 72px 0;
}